In [19]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

In [21]:
df = pd.read_csv("tripadvisor_review.csv")
df.head()

,User ID,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,Category 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,prediction how it works on machine learning
0,User 1,0.93,1.8,2.29,0.62,0.80,2.42,3.19,2.79,1.82,2.42,NaN,NaN,NaN,NaN,recommendation how it works
1,User 2,1.02,2.2,2.66,0.64,1.42,3.18,3.21,2.63,1.86,2.32,NaN,NaN,NaN,NaN,input features chai= category number
2,User 3,1.22,0.8,0.54,0.53,0.24,1.54,3.18,2.80,1.31,2.50,NaN,NaN,NaN,NaN,model ley pattern and rating study garcha
3,User 4,0.45,1.8,0.29,0.57,0.46,1.52,3.18,2.96,1.57,2.86,NaN,NaN,NaN,NaN,kun category ek arka sanga related cha ani kun...
4,User 5,0.51,1.2,1.18,0.57,1.54,2.02,3.18,2.78,1.18,2.54,NaN,NaN,NaN,NaN,methods: regression logistic regression random...

In [23]:
df = df.drop(columns=[
    "User ID",
    "Unnamed: 11",
    "Unnamed: 12",
    "Unnamed: 13",
    "Unnamed: 14",
    "prediction how it works on machine learning"
])

In [25]:
df["target"] = np.where(df["Category 10"] >= 2.5, 1, 0)

In [27]:
X = df.drop(columns=["Category 10", "target"])
y = df["target"]

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [31]:
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

log_pred = logistic.predict(X_test)
log_acc = accuracy_score(y_test, log_pred)

In [33]:
decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)

dt_pred = decision_tree.predict(X_test)
dt_acc = accuracy_score(y_test, dt_pred)

In [35]:
random_forest = RandomForestClassifier(n_estimators=200, random_state=42)
random_forest.fit(X_train, y_train)

rf_pred = random_forest.predict(X_test)
rf_acc = accuracy_score(y_test, rf_pred)

In [37]:
results = pd.DataFrame({
    "Algorithm": [
        "Logistic Regression",
        "Decision Tree",
        "Random Forest"
    ],
    "Accuracy": [
        log_acc,
        dt_acc,
        rf_acc
    ]
})

results

             Algorithm  Accuracy
0  Logistic Regression  0.836735
1        Decision Tree  0.811224
2        Random Forest  0.867347

In [39]:
new_user = pd.DataFrame([[
    1.0, 2.0, 2.5, 0.6, 1.2,
    2.3, 3.0, 2.7, 1.9
]], columns=X.columns)

prediction = random_forest.predict(new_user)
prediction

array([1])